<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF_8">
        <title>About page</title>
    </head>
    {{> header}}
    <body>
        <h1>{{name}} page</h1>
    </body>
    {{> footer}}
</html>